# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
Gerador/Gerador.opensdf
Motor3D/Motor3D.opensdf

Gerador/Debug/*
Gerador/Gerador/Debug/*
Gerador/Gerador.sdf

Motor3D/Debug/*
Motor3D/Motor3D/Debug/*
Motor3D/Motor3D.sdf
Gerador/Gerador.sdf
Motor3D/Motor3D.sdf
Motor3D/Motor3D.sdf
Gerador/Gerador.sdf
Gerador/Gerador.v11.suo